<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodies | Home</title>
    <link rel="stylesheet" href="foodies.css">
    <script src="https://kit.fontawesome.com/309370fe8c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="contact-bar">
            <p><i class="fas fa-phone-alt"></i> +98 3433 4332</p>
            <p><i class="fas fa-envelope-open"></i> help@foodiesandco.com</p>
            <div class="social">
                <i class="fab fa-facebook-square fa-lg"></i>
                <i class="fab fa-twitter-square fa-lg"></i>
                <i class="fab fa-instagram-square fa-lg"></i>
            </div>
        </div>
        <nav class="main-nav">
            <div class="container">
                <h1 class="brand"><i class="fas fa-utensils fa-lg"></i> Foodies & Co</h1>
                <ul>
                    <li><a href="#" class="current-page">Home</a></li>
                    <li><a href="#">Recipes</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="showcase">
        <div class="showcase-content">
            <h2 class="lead">
                Taste Meets Health.
            </h2>
            <p class="lead-desc">
                Don't just choose between health and taste. Let Us help you Choose Both.
            </p>
            <a href="#" class="btn">Browse Recipes<span class="goto-caret"></span></a>
        </div>
    </section>
</body>

</html>