<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business site | Nav</title>
    <script src="https://kit.fontawesome.com/309370fe8c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="business_site_nav.css">
</head>

<body>
    <nav class="main-nav">
        <div class="container">
            <h1><i class="far fa-chart-bar fa-lg"></i><span>Market</span>ry</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>